@model ResturantMVC.Models.Resturent
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>


<div >
  ID:  @Model.Id
</div>

<div>
   Resturant Name: @Model.Name
</div>

<div>
   Cusine Tyep: @Model.Cusine
</div>